# Игнорировать папку node_modules
/node_modules

# Игнорировать файлы зависимостей (если используете npm)
package-lock.json

# Игнорировать файлы зависимостей (если используете Yarn)
yarn.lock

# Другие файлы и папки, которые нужно игнорировать
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/coverage
node_modules
