@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');body {
    margin: 0;
    padding: 0;
    background-color: #F0EAD6;
    color: #3D3D3D;
    font-family: 'Ubuntu', sans-serif;

  }
  
  a {
    color: #228B22;
    text-decoration: none;
  }
  
  button {
    background-color: #228B22;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }